<h3>Login or <%= link_to "Sign Up", new_user_path %></h3>

<p style="color:red"><%= flash[:notice] %></p>
<div class="row">
  <div class="col-md-4">
      <%= form_tag sessions_path do %>
    <div class="form-group">
      <%= label :user, :email %> 
      <%= text_field :user, :email, :class => "form-control"%> <br>
    </div>

  <div class="form-group">
    <%= label :user, :password %> 
    <%= password_field :user, :password, :class => "form-control"%>
  </div> 
  <%= link_to  "Forgot Password", account_check_path %> <br>
  
    <br>

    <%= submit_tag "Login", :class => 'btn btn-primary' %>
    <% end %>
</div>
</div>
