<h2>Login or <%= link_to  "Create Account", new_user_path %></h2>

<p style="color:red"><%= flash[:notice] %></p>
<%= form_tag sessions_path do |f| %>
<%= label :user, :email %> <br>
<%= text_field :user, :email %> <br>

<%= label :user, :password %> <br>
<%= password_field :user, :password %> <br> <br>

<%= submit_tag "Login" %>
<% end %>

product = [1,2,3,4,5]

product.in_groups_of(3)