<h1>Create Account</h1>

<%if flash[:errors]%>
<p>
    <% flash[:errors].each do |error| %>
       <li style="color:red">
           <%= error %>
       </li>
    <% end %>
</p>
<%end%>

<div class='row'> 
  <div class="col-md-5">
    <%= form_for @user do |f| %>
    <div class="form-group">
        <%= f.label "Name" %>
        <%= f.text_field :name, :class => "form-control"%><br>
    </div>

    <div class="form-group">
        <%= f.label "Email" %>
        <%= f.text_field :email, :class => "form-control" %>
    </div>
    
    <div class="form-group">
        <%= f.label "Password" %><br>
        <%= f.password_field :password, :class => "form-control"%>
    </div>
    <div class="form-group">
    <%= f.label "Security Question" %><br>
<%= select_tag "security_question", options_for_select(["Date of Birth", "First Pet's Name", "Favourite Fruit", "Best Friend's Name"]) %> <br>
    </div>

    <div class="form-group">
<%= f.label "Security Question Answer" %><br>
<%= f.text_field :security_answer, :class => "form-control" %><br> <br>
    </div>

    <br>
        <%= f.submit "Sign Up", :class => 'btn btn-success' %>
    <% end %>
    
</div>
