<h1>Users#new</h1>

<%= form_for @user do |f| %>
<%= f.label "Name" %><br>
<%= f.text_field :name %><br>
<%= f.label "Email" %><br>
<%= f.text_field :email %><br>
<%= f.label "Password" %><br>
<%= f.password_field :password %><br>
<%= f.submit "Sign Up" %>
<% end %>
