<h1>Create Account</h1>

<%if flash[:errors]%>
<p>
    <% flash[:errors].each do |error| %>
       <li style="color:red">
           <%= error %>
       </li>
    <% end %>
</p>
<% end %>
<div class='row'> 
  <div class="col-md-5">
    <%= form_for @user do |f| %>
    <div class="form-group">
        <%= f.label "Name" %>
        <%= f.text_field :name, :class => "form-control"%><br>
    </div>

    <div class="form-group">
        <%= f.label "Email" %>
        <%= f.text_field :email, :class => "form-control" %>
    </div>
    
    <div class="form-group">
        <%= f.label "Password" %><br>
        <%= f.password_field :password, :class => "form-control"%>
    </div>
    
    <br>
        <%= f.submit "Sign Up", :class => 'btn btn-success' %>
    <% end %>
    
</div>
