<h1>Change Password</h1>

<p style="color:red"><%= flash[:notice]%></p>
<p style="color:green"><%= flash[:message]%></p>

<%= form_for  @user, url: {action: "password"} do |f| %> 

<%= f.label "New Password" %> <br>
<%= f.password_field :password %> <br>
<% if @user %>
<input type="hidden" id="email" name="email" value="<%= @user.email %>">
<% end %>
<%= f.label "Confirm New Password" %> <br>
<%= f.password_field :new_password_confirm %> <br> <br>

<%= f.submit "Change Password"%>
<% end %>



