<h1>Forgot Password</h1>

<%if flash[:notice]%>

<p style="color:red"> <%= flash[:notice] %> </p>

<%end%>

<%= form_tag('/retrieve_password') do %>
<%= label_tag(:security_answer, "What is the answer to your security question") %> <br>
<input type="hidden" id="email" name="email" value="<%= @user.email %>">
  <%= text_field_tag(:security_answer) %> <br> <br>
  <div><%= submit_tag 'Retrieve Password' %></div>
<% end -%>



