<h2>Welcome! <%= @user.name.capitalize %> </h2>
<h4>Account details <%= @user.email %></h4>
<h5><%= link_to  "Change Password", edit_user_path %></h5> <br>

<h2>My Orders:<%= link_to orders_path %></h2>

<% @user.products.each do |product|%>
<li>
<h3> <%= product.name.capitalize%> </h3> 
<p> <%= product.description.capitalize%> </p> 
<h6> <%= link_to  "More info", product_path(product) %> </h6>
 <br>
</li>
<%end%>

