
Receiver: <%=@user.name.capitalize%><br>
Shipping Address: <%=@order.address.capitalize%><br>

<div class="row">
  <%=@order_details.each do |product|%>
    <div class="col-md-12">
      <h4><%= product.product_name%></h4>
      <p>
      Price £<%= product.purchase_price%>
      Quantity: <%= product.quantity%>
      </p>
    </div>
   <% end %>
</div>
<%=link_to 'back to past orders', orders_path%>