
Receiver: <%=@user.name.capitalize%><br>
Shipping Address: <%=@order.address%><br>

<div class="row">

  <%@order_details.each do |product|%>
    <div class="col-md-7">
      <h4><%= product.product_name%></h4>
      
      £<%= product.purchase_price%>
      <%= product.product_description%>
      quantity: <%= product.quantity%>
    </div>
   <% end %>
</div>
<%=link_to 'back to past orders', orders_path%>