<% if @orders.count > 0 %>
  <h1>Here is the cool stuff you've bought:</h1>
<% else %>
  <h1>It seems that you haven't bought anything yet.</h1>
  <p>Your orders will display here when you buy something.</p>
  <h3><%= link_to "Buy Now", products_path %></h3>
<% end %>

<hr>

<div class="row">
    <% @orders.each do |order|%>
        <div class="col-md-5">
            <h3>
              <%= link_to "Order No. #{order.id * 10000}", order_path(order.id) %>
            </h3>
            <p>Shipping to: <%= order.address.capitalize %></p>
            <p>Order total: £<%= "%.2f" % (order.total_cost) %></p>
            <p>With shipping: £<%= "%.2f" % (order.total_cost + 5) %></p>
            <p>Order Date: <%= order.created_at.to_date %></p>
        </div>
    <% end %>
</div>
