<h1>your basket</h1><br>
<%@basket.each do |item|%>
    <%product = Product.find(item[:product_id])%>
    <h4><%=link_to product.name, product_path(product.id)%></h4>
    <%=product.description%><br>
    <b>price: £<%=product.price_formatted%></b><br>
    <b>quantity: <%=item[:quantity]%></b><br><br>
<%end%>

<h4><%= link_to "checkout", checkout_path%>
