
  <h1>Your basket</h1><br>
  <p><%=flash[:notice]%></p>


<div class="row">
  <div class="col-md-5">

<% if @basket.size <= 0 %>
    <p>It seems that your basket is empty</p>
<% else %>
    <% @basket.each do |item|%>
    <%product = Product.find(item[:product_id])%>
    <h4><%=link_to product.name, product_path(product.id)%>
    </h4>
    <p>Description: <%=product.description%></p>
    <p>Price: £<%=product.price_formatted%></p>
    <div class="row">
    <p>Quantity: <%=item[:quantity]%></p>
      <%= form_tag remove_one_from_basket_path do %>
         <%= hidden_field_tag 'product_id', product.id%> 
         <%= submit_tag "-", :class => "btn btn-warning btn-sm" %>
        <% end %>
    </div>
       <%= form_tag remove_all_from_basket_path do %>
         <%= hidden_field_tag 'product_id', product.id%>
         <%= submit_tag "remove all" %>
         <% end %>
         <br>
  <% end %>
<% end %>
          
<%= link_to "Checkout", checkout_path, :class => "btn btn-success btn-lg" %>
<br><br>
<p><%= link_to "Continue Shopping", products_path, :class => "btn btn-secondary btn-sm" %></p>

</div>