<%= link_to "back to basket", basket_path%>
<h1>checkout</h1><br>
<h3>order summary:</h3><br>
<%@basket.each do |item|%>
    <%product = Product.find(item[:product_id])%>
    <h5><%=product.name%></h5><br>
    <b>price: £<%=product.price%></b><br>
    <b>quantity: <%=item[:quantity]%></b><br>
    <b>subtotal: <%=product.price * item[:quantity]%></b><br><br>
<%end%>
<b>shipping cost: £<%=5.00%>
<h4>Total: £<%=@user.basket_total + 5%></h4><br>

<%= form_tag checkout_path do %>
    <label>Address:</label>
    <%=text_field_tag :'address'%>
    <%= submit_tag "Place Order"%>
<%end%>