<div>
  <h1 class="text-center">Christmas Best Sellers</h1>
</div><br>

<div class="row">
<% @products.in_groups_of(3, false) do |group| %>
  <% group.each do |product| %>
    <div class="col-md">
      <div class="card">
          <% if product.img_url %>
            <a href="<%= product_path(product) %>">
              <img class="card-img-top img-thumbnail"
                  style="height: 18rem"
                  src="<%= product.img_url %>"
                  alt="<%= product.name %>">
            </a>
          <% end %>
          <div class="card-body text-center">
            <h5 class="card-title"><%= product.name %></h5>
            <a href="<%= product_path(product) %>" class="btn btn-primary">
              View product
            </a>
          </div>   
      </div>
    </div>
  <% end %>
  <div class="w-100"></div><br>
<% end %>
</div>
</div>
