<% if @products.count > 0 %>
  <h1>All My Listing</h1>
<% else %>
  <h1>It seems that you haven't listed any items yet!</h1>
  <p>Your listing will display here when you listing something.</p>
  <h3><%= link_to "Listing Now", new_product_path %></h3>
<% end %>

<div class="row">
        <% @products.in_groups_of(3) do |group| %>
          <% group.each do |product| %>
            <div class="col-md">
              <% if product %>
                
                <div class="card">
                  
                  <% if product.img_url %>
                    <a href="<%= product_path(product) %>">
                      <img class="card-img-top img-thumbnail"
                          style="object-fit: cover; height: 18rem;"
                          src="<%= product.img_url %>"
                          alt="<%= product.name %>">
                    </a>
                  <% end %>
      
                  <div class="card-body text-center">
                    <h5 class="card-title"><%= product.name %></h5>
                    <p class="card-text">
                      £<%= product.price_formatted %>
                    </p>
                    <a href="<%= product_path(product) %>" class="btn btn-info">
                      View product
                    </a>
                     <a href="<%= edit_product_path(product) %>" class="btn btn-warning">
                      Edit product
                    </a>
                  </div>
      
                </div>
      
              <% end %>
            </div>
          <% end %>
          <div class="w-100"></div><br>
        <% end %>
      </div>

