<div class="row">

  <div class="col-md-7">
    <img class="img-thumbnail"
      src="<%= @product.img_url %>"
      alt="<%= @product.name %>">
  </div>

  <div class="col-md-5">
    <h1><%= @product.name %></h1>
    <p>
      By <span class="badge badge-info"><%=@product.seller_name%></span>
    </p>
    
    <h5>Description:</h5>
    <p>
      <%= @product.description %>
    </p>

    <h5>Price</h5>
    <p>£<%= @product.price_formatted %></p>

    <p>In basket: <%=@no_in_basket%></p>

    <%= form_tag add_to_basket_path do %>
      <%= hidden_field_tag 'product_id', @product.id%>
      <%= submit_tag "Add to basket", :class => "btn btn-success btn-lg" %>
    <% end %>

  </div>

</div>
