<div class="row">

  <div class="col-md-7">
    <img class="img-thumbnail"
      src="<%= @product.img_url %>"
      alt="<%= @product.name %>">
  </div>

  <div class="col-md-5">
    <h1><%= @product.name %></h1>
    <p>
      By <span class="badge badge-info"><%=@product.seller_name%></span>
    </p>
    
    <h5>Description:</h5>
    <p>
      <%= @product.description %>
    </p>

    <p>
     Tag <span class="badge badge-info"><%=@product.tag_name%></span>
    </p>
    <div class="row">
      <div class="col">
        <h5>Price</h5>
        <p>£<%= @product.price_formatted %></p>
      </div>
      <div class="col">
        <h5>Stock</h5>
        <p><%= @product.stock_count %></p>
      </div>
    </div>

   <div class="row">
     <div class="col">
      <h5>
          Basket: 
          <span class="badge badge-light">
            <%= @no_in_basket %>
          </span>
          items
      </h5>
      </div>
      <div class="co">
       <%= link_to 'View Basket', basket_path %>
       </div>
    </div>

    <p><%=flash[:notice]%></p>

   <% if @user %>
    <%= form_tag add_to_basket_path do %>
      <%= hidden_field_tag 'product_id', @product.id%>
      <%= submit_tag "Add to basket", :class => "btn btn-success btn-lg" %>
    <% end %>
    <%else%>
    
  <%= form_tag('/login', method: :get) do %>
    <%= submit_tag "Add to basket", :class => "btn btn-success btn-lg" %>
  <% end %>
    <hr>

    <% if @user %>
      <%= form_tag add_to_basket_path do %>
        <%= hidden_field_tag 'product_id', @product.id%>
        <% unless @product.user_id == @user.id %>
          <% if @product.stock_count > 0 %>
            <%= submit_tag "Add to basket", :class => "btn btn-success btn-lg" %>
          <% else %>
            <%= submit_tag "Add to basket",
              :class => "btn btn-success btn-lg",
              :disabled => true,
              :title => "Out of stock!"
            %>
          <% end %>
        <% else %>
          <%= submit_tag "Add to basket",
              :class => "btn btn-success btn-lg",
              :disabled => true,
              :title => "You can't buy your own product!"
            %>
        <% end %>
      <% end %>
    <% else %>
      <%= form_tag('/login', method: :get) do %>
      <%= submit_tag "Add to basket", :class => "btn btn-success btn-lg" %>
   <% end %>
    <% end %>
    <% end %>
  <br>
  </div>
</div>